services:
  mongodb:
    image: mongo:7.0
    container_name: bourracho-mongo-${CONTAINER_SUFFIX}
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB_NAME}
    command: mongod --bind_ip_all --port ${MONGO_DB_PORT}
    ports:
      - "${MONGO_DB_PORT}:${MONGO_DB_PORT}"
    volumes:
      - mongodb_data_${CONTAINER_SUFFIX}:/data/db
    networks:
      - ${NETWORK_NAME}

  redis:
    image: redis:7.2-alpine
    container_name: bourracho-redis-${CONTAINER_SUFFIX}
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD} --port ${REDIS_PORT}
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    volumes:
      - redis_data_${CONTAINER_SUFFIX}:/data
    networks:
      - ${NETWORK_NAME}

  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: bourracho-backend-${CONTAINER_SUFFIX}
    restart: unless-stopped
    environment:
      # Pass all environment variables from the env file to the container
      - ENVIRONNEMENT_NAME=${ENVIRONNEMENT_NAME}
      - API_PORT=${API_PORT}
      - MONGO_ROOT_USERNAME=${MONGO_ROOT_USERNAME}
      - MONGO_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
      - MONGO_DB_NAME=${MONGO_DB_NAME}
      - MONGO_DB_HOST=bourracho-mongo-${CONTAINER_SUFFIX}
      - MONGO_DB_PORT=${MONGO_DB_PORT}
      - BOURRACHO_SECRET_KEY=${BOURRACHO_SECRET_KEY}
      - DEBUG=${DEBUG}
      - REDIS_HOST=bourracho-redis-${CONTAINER_SUFFIX}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DB=${REDIS_DB}
      - REDIS_PORT=6379
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      - mongodb
      - redis
    networks:
      - ${NETWORK_NAME}
    volumes:
      - ../media_files:/app/media_files

volumes:
  mongodb_data_dev:
  mongodb_data_prod:
  redis_data_dev:
  redis_data_prod:

networks:
  bourracho-dev-network:
    driver: bridge
  bourracho-prod-network:
    driver: bridge
